<div class="container">

  <div class="head">

    <div class="title white-text">
      🎈 Todo List
    </div>

 

  </div>

  <div class="add-list-element">
    <input class="add-list-input" type="text" [(ngModel)]="newTask">
    <button mat-button class="add-button" (click)="addTask()">+</button>
  </div>

  <div class="to-be-completed-list">
    <div class="white-text">Incomplete tasks:</div>

    <div class="incomplete-tasks">

      <div class="task-form" *ngFor="let task of incompleteTasks; let i = index">
        <mat-checkbox (change)="completeTask(task)" class="task">{{task}}</mat-checkbox>
        <button class="task-delete-button" (click)="deleteIncompleteTask(i)">X</button>
      </div>

      <div class="no-task-message white-text" *ngIf="!incompleteTasks.length">No tasks...</div>

    </div>
  </div>

  <div class="completed-list" *ngIf="completeTasks.length > 0">
    <div class="white-text">Complete tasks:</div>
    <div class="task-form completed-task" *ngFor="let task of completeTasks; let i = index">
      <mat-checkbox [checked]="true" (change)="incompleteTask(task)" class="task">{{task}}</mat-checkbox>
      <button class="task-delete-button" (click)="deleteCompleteTask(i)">X</button>
    </div>
  </div>


</div>